/* google fonts */
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight{
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  /* ..... */
  /* Shared styles */
  *{
    margin: 0;
    padding: 0;
  }
    .body-margin{
    margin-left: 160px;
    margin-right: 160px;
  } 
  .btn-primary{
       border-radius: 8px;
       border: none;
       text-align: center;
       color:#FFFFFF;
       background-color: #006A50;
       padding: 17px 34px;
  }
  .btn-primary1{
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600px;
    cursor: pointer;
  }
  .btn-primary1:hover{
    background-color: #ec0f0f;
  }
  /* banner part */
  header{
    margin: 0 auto;
   max-width: 1280px;  
  }
  /* .head-part{
   display: flex;
  } */
  .banner-container{
    display: flex;
    gap: 64px;
    background-color: #C6E4D6;
    border-radius: 24px;
    /* margin-left: 160px;
    margin-right: 160px; */
    padding: 80px 100px;
  }
  .banner-content{
    width: 620px; 
  }
  .banner-subtitle{
        font-size: 24px;
        font-weight: 500px;
        color:#0E0E0E;    
  }
  .banner-title{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
  }
  .hero-img{
    align-items: center;
  }

/* main section */
main{
    margin: 0 auto;
    max-width: 1280px; 
}
 
.section-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-top: 80px;
    margin-bottom: 24px;
}
.section-description{
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}
.cards{
    display: flex;
    gap: 24px;
    justify-content: space-evenly;
}
.card-1{
     border-radius: 16px;
     border: none;
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px;
} 
.card-2{
    border-radius: 16px;
    border: none;
    background-color:rgba(198, 228, 214, 1) ;
    padding: 32px;
}
.card-3{
    border-radius: 16px;
    border: none;
    background-color: rgba(247, 235, 207, 1);   
    padding: 24px;
}
.btn-1{
    border-radius: 8px;
    border: none;
    background-color: #5490F5;
    padding: 11px 20px;
    color: #FFFFFF;
}
.btn-2{
    border-radius: 8px;
    border: none;
    background-color: #09A15C;
    padding: 11px 20px;
    color: #FFFFFF;
}
.btn-3{
    border-radius: 8px;
    border: none;
    background-color: #FFC239;
    color: #FFFFFF;
    padding: 11px 20px;
}
/* Bangladesh2.0 recent news */
.categories{
    margin: 0 auto;
    max-width: 1280px;
}
.section-title-2{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-top: 80px ;
}
.section-description-2{
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 24px;
}
.earth-img{
    width: 408px;
    height: auto;
    border-radius: 24px;
    border: none;
    margin-top: 32px;
}
.sub-content{
    
    /* padding-bottom: 56px; */
    
}
.satellite-container{
   display: flex;
   border-radius: 24px;
   gap: 24px;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
   padding: 48px; 
   margin-top: 24px;
}

.al-jazeera-title{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom:12px;
}
.date-time{
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom:12px;
} 
.al-jazeera-description{
    line-height: 24px;
    color:rgba(14, 14, 14, 0.7) ;
    margin-bottom:32px;
}
.satellite-containers{
  
   display: flex;
   border-radius: 24px;
   gap: 24px;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
   padding: 48px;
   flex-direction: row-reverse;
}
/* donation styles */
.donate{
    margin: 0 auto;
    max-width: 1280px;
    margin-top: 80px;
}
.donation-container{
    margin: 0 auto;
    max-width: 1280px;
}
.donate-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    text-align: center;
     margin-top: 24px;
}
.donate-description{
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    width: 100%; 
    margin-top: 24px;
    margin: 32px;
}
 
.donation-options{
    display: flex;
    gap: 24px;
    justify-content: space-evenly;
    margin: 32px 0px;
    /* justify-content: space-between; */
    /* margin-bottom: 20px; */
}
.option {
    /* width: 160px;
    height: 48px; */
    border-radius: 8px;
    font-size: 40px;
    padding: 40px;
    background-color:white ;
    border: 2px solid #ddd;
    text-align: center;
    cursor: pointer;   
}
.option-2{
    border-radius: 8px;
    border: 2px solid #ddd;
    font-size: 40px;
    padding: 40px;
    background-color: #C6E4D6;
    border-radius: 8px;
    text-align: center;
    
}
.option:hover {
    border-color: #006400;
}
.option-2:hover{
    border-color: #006400;
}
.custom-amount{
    text-align: center;
    padding: 20px 40px;
    border: 2px solid #ddd;
    border: none;
    border-radius: 8px;
    margin:  0px 140px;  
} 

/* Donate Button */
.donate-button {
    text-align: center; 
    align-items: center;
    justify-content: center;  
}

.donate-button:hover {
    background-color: #004d00;
}
